body {
    background-image: url("assets/bckgrnd.png");
    font-family: 'open sans', sans-serif;
    color: #333333;
}
h1 {
    font-family: 'montserrat', sans-serif;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: 10px;
}
h2 {
    font-size: 26px;
    font-weight: 200px;
    margin-left: 10px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-left: 10px;
}


section {
    background-color: rgba(150, 150, 150, .6);
    padding: 10px;
    color: #ffffff;
}
section img {
    margin: 15px;
    padding: 0px 25px 15px 15px; 
}


p {
    font-size: 14px;
    line-height: 1.6;
    padding: 10px;
}

main {
    margin: 10px;
    
}

nav {
    margin: 10px;
}
nav a{
    padding: 10px;
}

#myPic {
    width: 200px;
    border: 3px solid #2c5fa8;
    border-radius: 100px;
    margin: 10px;
}

#arrow {
    vertical-align: middle;
}

footer {
    border-top: 2px solid white;
    padding-top: 10px;
    margin: 10px;
    text-align: center;
}


@media only screen and (min-width: 600px){
    body {
        background-color: #2c5fa8;
    }
}